.transparent-box{
    background-color: rgba(255,255,255,0.2);
    border: 1px solid transparent;
    border-radius: 4px;
}
#source,#destination {
    background-color:rgba(0, 0, 0, 0);
    color: grey;
    border: 1px solid;
    outline:none;
    height:30px;  
}
#map {margin: 0;padding: 0;width: 100%;height: 100%;} 

