<div class="deep-blue-gradient pb-4">
    <div class="navbar-nav unique-color-dark text-center py-4">
    <h2 class="text-muted">Welcome to Truck Routing System</h2>
    </div>
    <div> 
  <div class="container mt-2 py-5 col-md-4">
<div class="card">
     <div class="card-header text-center bg-info">
           <h4>Login</h4>
     </div>
  <div class="card-body">
     <form class="md-form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
     <div class="md-form">
            <input type="text" class="form-control" id="uname" formControlName="username"/>
            <label for="uname">Username<span class="text-danger">*</span></label>
     </div>
     <div class="md-form">
            <input type="password" class="form-control" id="pwd" formControlName="password"/>
            <label for="uname">Password<span class="text-danger">*</span></label>
     </div>
     <button class="btn btn-blue btn-md" type="submit"(click)="submitted=true">login</button>
     </form>
     <div class="row mx-1" style="font-weight: lighter; font-family: Calibri;"><span class="text-danger">*</span><p class="text-muted">Fields are compulsory.</p></div>
     <p style="font-weight: lighter; font-family: Calibri;">Forgot username or password? <a routerLink="forgot_password">Click Here</a></p>
  </div>
</div>
</div>
</div>
</div>
