<div class="deep-blue-gradient pb-4">
    <div class="navbar navbar-expand-sm sticky-top navbar-dark unique-color-dark py-1">
    <nav class="navbar-brand">
    <span class="text-muted mx-2 ">Control Portal</span>
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link text-muted" routerLink="homepage">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted" routerLink="truckinfo">Truck Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted" routerLink="">Logout</a>
        </li>
    </ul>
    </div>
    </div>
    <div class="transparent-box col-md-5 container my-5" style="font-weight: lighter; font-family: Calibri;" [hidden]="submitted">
        <h4 align="center" class="mt-3">Find the efficient route</h4><hr>
        <form class="form-group container-fluid py-4" [formGroup]="directionForm" (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
            <div class="form-group">
                <label for="source">Source<span class="text-danger">*</span></label>
                   <input type="text" class="form-control form-control-sm"  id="source" formControlName="source">
                   
            </div>
            <div class="form-group">
                <label for="destination">Destination<span class="text-danger">*</span></label>
                   <input type="text" class="form-control form-control-sm"  id="destination" formControlName="destination">
                   
            </div>
            <button class="btn btn-elegant btn-md" type="submit" (click)="submitted=true" [disabled]="directionForm.invalid">Find route</button>
            <div class="row mx-1" style="font-weight: lighter; font-family: Calibri;"><span class="text-danger">*</span><p class="text-muted">Fields are compulsory.</p></div>
            </form>
           
    </div>
    <div [hidden]="!submitted" class="transparent-box container my-5">
        <div class="row">
         <h4>Here is the Map:</h4> 
         <div #mapElement class="map col-md-6"></div>
         <div class="data col-md-6 mr-5">
             <h5 class="ml-3">Route Details</h5>
             <ul>
                 <li>Distance: {{this.cdistance}}</li>
                 <li>Duration of Route: {{this.cduration}}</li>
             </ul>
         </div>
         </div>
           <button class="btn btn-md btn-primary"  (click)="submitted=false" style="font-family: 'Calibri Light';">back</button>
    </div>
</div>
