<div class="container mt-3">
    <h3>Forgot Username/Password</h3><hr>
    <form class="md-form col-md-5" style="font-weight: lighter; font-family: Calibri;" method="POST" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
        <h5 class="text-muted">Enter your email address to get the reset link.</h5>
    <div class="md-form">
       <input type="email" class="form-control" id="email" formControlName="email">
       <label for="email">Email<span class="text-danger">*</span></label>
    </div>
    <button class="btn btn-md btn-primary" type="submit">Submit</button>
    </form>

</div>
